.bienvenida{
    margin:30% 20% 0 10%;
}
h2{
    color: #1B0088;
    font-size: 31px;
    border-bottom: 8px solid #ED1650;
    padding-bottom: 10px;
}
p{
    color: #ED1650;
    font-size: 22px;
    margin-top:10px ;
    border-bottom: 9px solid #1B0088;
    padding-bottom: 10px;
}