<h3>Categoria 1</h3>
<select name="reporte">
    <option value="1">Selecciona un reporte</option>
</select>
<button>Acceder</button>
<form>
    <h4>Información Requerida</h4>
    <input type="text" id="btn-periodo" value="Ingrese período">
    <div class="grupo">
        <input type="text"  placeholder="Ingrese parametro 1">
        <input type="text" placeholder="Ingrese parametro 2">
    </div>
    <input type="text" id="btn-archivo" placeholder="Ingrese archivo">
    <button class="btn-ejecutar">Ejecutar Reporte</button>
    <button>Planificar Reporte</button>
</form>