<h2>Reportes</h2>
<div class="reportes">
    <div class="categorias">
        <h3>Categorias</h3>
        <ul>
            <li><a routerLink="categoria">Categoria 1</a></li>
            <li><a routerLink="categoria">Categoria 2</a></li>
            <li><a routerLink="categoria">Categoria 3</a></li>
            <li><a routerLink="categoria">Categoria 4</a></li>
            <li><a routerLink="categoria">Categoria 5</a></li>
            <li><a routerLink="categoria">Categoria 6</a></li>
            <li><a routerLink="categoria">Categoria 7</a></li>
            <li><a routerLink="categoria">Categoria 8</a></li>
            <li><a routerLink="categoria">Categoria 9</a></li>
            <li><a routerLink="categoria">Categoria 10</a></li>
        </ul>
    </div>
    <div class="categoria">
        <router-outlet></router-outlet>
    </div>
</div>